/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
h1 {
  color: blueviolet;
  text-align: center;
}

.users-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.users {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
  list-style: none;
}

.user {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.profile-pics {
  border: 1px solid black;
  padding: 10px;
  width: 100px;
  height: 100px;
}

.profile-info {
  border: 1px solid black;
  padding: 10px;
  width: 80%;
}

.username {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  font-size: xx-large;
}

.post-count {
  font-size: small;
  align-self: flex-end;
}

.destroy {
  width: 100px;
  color: rgb(150, 8, 8);
  font-size: large;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.login-container {
  display: flex;
  flex-direction: column;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.login-btn {
  margin-left: 33%;
}
